@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(0, 0, 0, 1);

    --muted: rgba(230, 230, 230, 1);
    --muted-foreground: rgba(102, 102, 102, 1);

    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(0, 0, 0, 1);

    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(0, 0, 0, 1);

    --border: rgba(204, 204, 204, 1);
    --input: rgba(204, 204, 204, 1);

    --primary: rgba(0, 119, 255, 1);
    --primary-foreground: rgba(255, 255, 255, 1);
    --primary-background: rgba(0, 68, 204, 1);

    --secondary: rgba(102, 153, 102, 1);
    --secondary-foreground: rgba(255, 255, 255, 1);

    --accent: rgba(51, 102, 153, 1);
    --accent-foreground: rgba(255, 255, 255, 1);

    --destructive: rgba(204, 51, 51, 1);
    --destructive-foreground: rgba(255, 255, 255, 1);

    --ring: rgba(51, 102, 153, 1);

    --radius: 0.5rem;

    --slate-50: #0f172a;
    --slate-100: #1e293b;
    --slate-200: #334155;
    --slate-300: #475569;
    --slate-400: #64748b;
    --slate-500: #94a3b8;
    --slate-600: #cbd5e1;
    --slate-700: #e2e8f0;
    --slate-800: #f1f5f9;
    --slate-900: #f8fafc;
  }
}

.dark {
  --background: rgba(10, 10, 10, 1);
  --foreground: rgba(230, 230, 230, 1);

  --muted: rgba(20, 20, 20, 1);
  --muted-foreground: rgba(145, 145, 145, 1);

  --popover: rgba(10, 10, 10, 1);
  --popover-foreground: rgba(166, 166, 166, 1);

  --card: rgba(10, 10, 10, 1);
  --card-foreground: rgba(230, 230, 230, 1);

  --border: rgba(51, 51, 51, 1);
  --input: rgba(51, 51, 51, 1);

  --primary: rgba(179, 255, 255, 1);
  --primary-foreground: rgba(5, 5, 5, 1);
  --primary-background: rgba(20, 20, 20, 1);

  --secondary: rgba(102, 153, 102, 1);
  --secondary-foreground: rgba(10, 10, 10, 1);

  --accent: rgba(51, 102, 153, 1);
  --accent-foreground: rgba(255, 255, 255, 1);

  --destructive: rgba(204, 51, 51, 1);
  --destructive-foreground: rgba(255, 255, 255, 1);

  --ring: rgba(51, 102, 153, 1);

  --radius: 0.5rem;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-base text-slate-100 bg-background;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  p {
    @apply text-slate-200;
  }

  h1 {
    @apply text-2xl font-bold text-slate-100;
  }

  h2 {
    @apply md:text-xl font-bold text-slate-100;
  }

  h3 {
    @apply font-semibold text-sm text-slate-100;
  }

  h4 {
    @apply font-semibold text-xl text-slate-50;
  }

  label {
    @apply text-slate-200 text-sm inline-block mb-1;
  }

  .link {
    @apply text-primary underline;
  }
}
